.layoutDefault{
    /* background: url(../../assets/background/backgroundMusicOffline.svg) no-repeat center fixed; 
    background-size: cover; */
    /* position: absolute;
    top: 0%;
    left: 0%; */
}
/* .site-layout{
opacity: 0.2;
}
:root{
    background-color: red;
} */