.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.36;
  text-overflow: clip;
  overflow: visible;
  display: flex;
  align-items: center;
  /* font-family: Inter,sans-serif; */
}
.author {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  text-overflow: clip;
  overflow: visible;
  display: flex;
  align-items: center;
}
.audio-info{
  display: flex;
}